<p id="notice"><%= notice %></p>

<h1><%= $note_title %> <%= link_to '+', new_note_path %></h1> 

<table>
  <tr>
    <th>title</th>
    <th>update</th>
  </tr>
<% @notes.each do |note| %>
  <tr>
    <td><a href="<%= note_path(note) %>"><%= note.title %></a></td>
    <td><%= note.updated_at %></td>
  </tr>
<% end %>
</table>


